<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row head">
                <div class="button-intro">
                    <div class="button-intro_first">
                        HELLO 
                    </div>
                    <div class="button-intro_second">
                        THERE 
                    </div>
                </div>
                <div class="main-intro-text about-text">
                    <span class="square"></span>
                    <div>ABOUT ME</div>
                </div>
            </div>
            <div class="row">
                <div class="content">
                    <div class="content-text">
                        <p class="title">UI-UX Designer</p>
                        <p class="name">Hey, I'm Trinh</p>
                        <p class="description">NY của Nguyễn Vũ Tiến Độ</p>
                    </div>
                    <div class="content-image">
                        <div class="image-shadow"></div>
                        <img class="avatar" src="{{ site.baseurl }}/img/Avatar.png" alt="Avatar" />
                    </div>
                </div>
            </div>

            <div class="row about-detail">
                <div class="about-detail_col">
                    <div class="about-detail_container information element_has_icon">
                        <div class="title">
                            <div>
                                <span class="text">Information</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>+84 799 149 440</span>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>duongthitrinh1607@gmail.com</span>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <a href="https://www.linkedin.com/in/duongtrinh02/" target="_blank">Linkedin/DuongTrinh02</a>
                        </div>
                    </div>
                    <div class="about-detail_container experience">
                        <div class="title">
                            <div>
                                <span class="text">Experience</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div class="element">
                            <div class="">Design Lead</div>
                            <span>10/2024 - Now | Wezen Vietnam JSC</span>
                        </div>
                        <div class="element">
                            <div class="">UI/UX Designer</div>
                            <span>09/2023 - 10/2024 | Wezen Vietnam JSC</span>
                        </div>
                        <div class="element">
                            <div class="">15+ Freelance UI/UX Projects</div>
                            <span>2023 - Now | For multiple startups and businesses</span>
                        </div>
                        <div class="element">
                            <div class="">UX/UI Design Intern</div>
                            <span>06/2023 - 09/2023 | Solar Vietnam JSC</span>
                        </div>
                        <div class="element">
                            <div class="">Graphic Designer</div>
                            <span>02/2023 - 05/2023 | ONEADX Co., Ltd.</span>
                        </div>
                    </div>
                </div>

                <div class="about-detail_col">
                    <div class="about-detail_container education">
                        <div class="title">
                            <div>
                                <span class="text">Education</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div>
                            <div class="element">
                                <span>10/2020 - 10/2024 | Hanoi University of Industry</span>
                            </div>
                            <div class="element">
                                <div class="">B.Sc Information Technology</div>
                                <span>Graduated | Good</span>
                            </div>
                        </div>
                        <div>
                            <div class="element">
                                <span>05/2024 - 07/2024 | UX Foundation</span>
                            </div>
                            <div class="element">
                                <div class="">User Interface Foundation</div>
                                <span>Certified | Outstanding</span>
                            </div>
                        </div>
                        <div>
                            <div class="element">
                                <span>03/2025 - 05/2025 | UX Foundation</span>
                            </div>
                            <div class="element">
                                <div class="">User Experience Design</div>
                                <span>In Progress</span>
                            </div>
                        </div>
                    </div>
                    <div class="about-detail_container tools">
                        <div class="title">
                            <div>
                                <span class="text">Tools</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div class="icon_tools">
                            <img class="" src="{{ site.baseurl }}/img/about/Figma.svg" alt="Figma" />
                            <img class="" src="{{ site.baseurl }}/img/about/Illustrator.svg" alt="Illustrator" />
                            <img class="" src="{{ site.baseurl }}/img/about/Photoshop.svg" alt="Photoshop" />
                            <img class="" src="{{ site.baseurl }}/img/about/Lightroom.svg" alt="Lightroom" />
                        </div>
                        <div class="icon_tools">
                            <img class="" src="{{ site.baseurl }}/img/about/Premiere_Pro.svg" alt="Premiere_Pro" />
                            <img class="" src="{{ site.baseurl }}/img/about/After_Effects.svg" alt="After_Effects" />
                            <img class="" src="{{ site.baseurl }}/img/about/Framer.svg" alt="Framer" />
                        </div>
                    </div>
                </div>

                <div class="about-detail_col">
                    <div class="about-detail_container key_strengths element_has_icon">
                        <div class="title">
                            <div>
                                <span class="text">Key Strengths</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Interface design</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Design system</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Information Architecture</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Usability</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Wireframing</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Prototyping</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>Identity Design</span>
                        </div>
                        <div>
                            <div class="evenodd_icon"></div>
                            <span>HTML & CSS</span>
                        </div>
                    </div>
                    <div class="about-detail_container soft_skills element_has_icon">
                        <div class="title">
                            <div>
                                <span class="text">Soft Skills</span>
                                <span class="rotate-bg"></span>
                            </div>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>Team Leadership & Collaboration</span>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>Project management</span>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>Critical thinking</span>
                        </div>
                        <div>
                            <div class="diamond_icon"></div>
                            <span>Communication</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>