<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="main-intro-text about-text">
                    <span class="square"></span>
                    <div>ABOUT ME</div>
                </div>
            </div>
            <div class="row">
                <div class="content">
                    <div class="content-text">
                        <p class="title">UI-UX Designer</p>
                        <p class="name">Hey, I'm Trinh</p>
                        <p class="description">NY của Nguyễn Vũ Tiến Độ</p>
                    </div>
                    <div class="content-image">
                        <div class="image-shadow"></div>
                        <img class="avatar" src="{{ site.baseurl }}/img/Avatar.png" alt="Avatar" />
                    </div>
                </div>
            </div>
        </div>
    </section>