<!-- Portfolio Grid Section -->
    <section id="portfolio" class="">
        <div class="container">
            <div class="row head title_section">
                <div class="button-intro">
                    <div class="button-intro_first">
                        UI 
                    </div>
                    <div class="button-intro_second">
                        UX 
                    </div>
                </div>
                <div class="main-intro-text about-text">
                    <span class="square"></span>
                    <div>PORTFOLIO</div>
                </div>
                <div class="description">Design projects are not just work, they are a way for me to express my creativity and passion. <br/>
                    I have collaborated with startups and large corporations, leading impactful design projects used by millions of people.</div>
            </div>
            <div class="row projects">
            {% for post in site.posts %}
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <div class="index">0{{ forloop.index }}</div>
                        <div class="caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
